@import url('https://fonts.googleapis.com/css?family=Acme|Hammersmith+One|Josefin+Sans|Montserrat+Alternates|Philosopher&display=swap');

/* Universal Styles */
html {
  font-size: 16px;
}
body {
  background-color: #bbad8f;
  font-family: "Montserrat Alternates", Arial, sans-serif;
  font-size: 1rem;
  color: #34415e;

}
a {
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
}

/*Header styles*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 2rem;
  padding: 0 1.5rem;
  background-color: #34415e;
  height: 4rem;
  width: 100%;
  position: fixed;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Hammersmith One", sans-serif;
  font-size: 2rem;
  color: #bbad8f;
  font-weight: 900;
}

.logo img {
  height: 2rem;
  width: auto;
  padding-right: 1.5rem;
}
/* Nav Styles */
nav ul li {
  display:inline;
  margin-left: 1rem;
}

nav ul li a {
  color: #bbad8f;
  font-size: 1.25rem;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ffffff;
  transition: color 0.5s ease-in-out;
}
/* Banner Styles */
#banner {
  display: flex;
  flex-direction: column;
  align-items: stretch ;
  justify-content: center;

}
#banner img {
  padding: 2rem 1.5rem;
  width: 60%;
  height: auto;
}

.btn {
  background-color: #16405b;
  border-radius: 3px 0 0 0;
  padding: 0.5rem 0;
  }
/* Universal Styles */
/* Universal Styles */
/* Universal Styles */
