@import url('https://fonts.googleapis.com/css?family=Acme|Hammersmith+One|Josefin+Sans|Montserrat+Alternates|Philosopher&display=swap');

/* Universal Styles */
html {
  font-size: 16px;
}
body {
  background-color: #bbad8f;
  font-family: "Montserrat Alternates", Arial, sans-serif;
  font-size: 1rem;
  color: #34415e;

}
a {
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
}
h1, h2, h3, h4, {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.75rem;
}
/*Header styles*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 2rem;
  padding: 0 1.5rem;
  background-color: #34415e;
  height: 4rem;
  width: 100%;
  position: fixed;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Hammersmith One", sans-serif;
  text-transform: uppercase;
  color: #bbad8f;
}
.logo span {
  font-size: 1.5rem;
  color: #bdbab3;
}
.logo img {
  height: 2rem;
  width: auto;
  padding-right: 1.5rem;
}
/* Nav Styles */
nav ul li {
  display:inline;
  margin-left: 1rem;
}

nav ul li a {
  color: #bbad8f;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ffffff;
  transition: color 0.5s ease-in-out;
}
/* Banner Styles */
#banner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
}
#banner img {
  padding: 2rem 1.5rem;
  margin-top: 4rem;
  width: 60%;
  height: auto;
}

#banner .text {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
}

#banner h2 {
  margin-bottom: 1rem;
}

.btn {
  background-color: #16405b;
  border-radius: 0 0 10px 0;
  border: none;
  padding: 0.5rem 0;
  color: #bbad8f;
  font-size: 1.5rem;
  margin-top: 1rem;
  }
.btn:hover {
  background-color: #bbad8f;
  color: #16405b;
  transition: color 1s ease-in-out,
  background-color 1s ease-in-out;
}
/* Main Styles */
main {
  display: flex;
  flex-direction: column;
}
/* Practice Styles */
#practice {
  display: flex;
  justify-content: flex-start;
  background-color: #bdbab3;
  padding-left: 1.5rem;
}
.practiceL {
/*  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;*/
  padding-right: 1.5rem;
  width: 60%;
}
.practiceL img {
  padding: 2rem 0;
  width: 100%;
  height: auto;
}
.practiceR {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-left: 0.05rem ridge #34415e;
  width: 40%;
}
.practiceCard {
  display: flex;
  align-items: center;
  border-bottom: 0.05rem ridge #34415e;
}
.practiceCard img {
  padding: 1rem;
  width: 35%;
  height: auto;
}
.practiceCard > .text {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.practiceCard h3 {
  margin-bottom: 0.5rem;
}

.practiceCard a {
  font-size: 0.75rem;
  margin-top: 0.5rem;

}
.practiceCard:hover {
  background-color:#bdbab3;
  transition: background-color 0.5s ease-in-out;
}
/* Learn Styles */
#courses {
  padding: 2rem 4.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1.5rem;
}
.course {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 2rem 2rem 0;
  padding-bottom: 1.5rem;
  background-color: #ffffff;
}
.course img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
.course .text {
  padding-left: 1.5rem;
}
/* Thesis Styles */
/* Footer Styles */
